# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock files (pnpm workspace에서는 루트에서만 관리)
package-lock.json
bun.lockb
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
