# https://app.zeplin.io/profile/developer 에서 발급
ZEPLIN_ACCESS_TOKEN=

# Zeplin 웹앱에서 프로젝트/화면을 열었을 때 URL에 포함된 ID
# 예: https://app.zeplin.io/project/{PROJECT_ID}/screen/{SCREEN_ID}
ZEPLIN_PROJECT_ID=
ZEPLIN_SCREEN_ID=
